body{
  background-color: #ffe6e8;
  min-width: 400px;
}

.grid {
  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: auto;
  width: 80%;
}

/*NAV BAR*/

.header {
    position: relative;
    height: 100px;
    margin: 40px;
    z-index: 1;
}
.navbar a{
  color: #aa5342;
}

.navbar li a:hover{
  background-color: #aa5342;
  color: #f3c4b8;
  border-radius: 6px;
}

.icon-bar{
  background-color: #aa5342;
}

.navbar-toggle:hover .icon-bar{
  background-color: #f3c4b8;
}

.navbar-nav ul {
  vertical-align: middle ;
}

.navbar-brand{
  padding: 0px;
  width: 15%;
  display: inline-block;
}

.navbar-brand img{
  width: 100%;
  margin: 0px;
}

#myNavbar{
  float: right;
  vertical-align: center;
}

img{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*HOME PAGE*/

.page-main {
  grid-column: 4 / 12;
}


@media (max-width: 400px) {
  .page-main {
    grid-column: 1 / 13;
    padding: 0 15px;
  }
}

.recent-articles{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

@media (min-width: 600px) and (max-width:  950px) {
  .recent-articles {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .recent-articles {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}


.section-title {
  font-family: Teimer;
  font-weight: 400;
  margin: 20px 0 35px;
  font-size: 20px;
}

.article-box {
  position: relative;
  overflow: hidden;
}

.article-box img {
  width: 100%;
}


.article-box__body {
  font-family: LiberationSans;
  padding: 10px 10px 20px;
  color: #aa5342;
  overflow: hidden;
}

.article-box__body a {
  font-family: Teimer;
  margin: 15px 0;
  text-decoration: none;
  font-size: 30px;
  color: #aa5342;
}

.article-box__body h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.article-box__meta {
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
}

/*ABOUT/CONTACT PAGE*/

.page-about {
  grid-column: 4 / 12;
  width: 60%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}


@media (max-width: 400px) {
  .page-about {
    grid-column: 1 / 13;
    padding: 0 15px;
  }
}

.about-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px 15px;
}

@media (max-width: 950px) {
  .about-info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.page-about h3 {
  font-family: Teimer;
  color: #aa5342;
}

#contact-text{
  margin-right: 25px;
}

form{
  margin:  25px 0 0 25px;

}

label{
  font-family: Teimer;
  color: #aa5342;
  margin: 0px;
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 15px 0;
  box-sizing: border-box;
}

input[type=button], input[type=submit]{
  background-color: #aa5342;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 3px 2px;
  cursor: pointer;
}


/*BLOG*/
.cat-blog {
  width: 60%;
  margin: 0% 20% 15%;
}

.heading {
  text-align: center;
}

.cat-blog .topic {
  display: grid;
  grid-column: 4 / 12;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}


@media (max-width: 400px) {
  .cat-blog .topic{
    grid-column: 1 / 13;
    padding: 0 15px;
  }
}

@media (min-width: 600px) and (max-width:  950px) {
  .cat-blog .topic {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .cat-blog .topic {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.catheader{
  padding: 0px;
  width: 100%;
  display: inline-block;
}

#viewall{
  float: right;
  vertical-align: center;
  border-bottom: 1px solid #aa5342;
}

#viewall:hover{
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.cat-blog a{
  font-family: Teimer;
  margin: 15px 0;
  font-size: 15px;
  color: #aa5342;
}

.cat-blog h2{
  font-family: Teimer;
  margin: 15px 0;
  font-size: 20px;
  color: #aa5342;
}



/*INDIVIDUAL BLOG POSTS*/

.page-blog {
  width: 60%;
  margin: 0% 20% 15%;
}

.heading {
  text-align: center;
}

.page-blog img{
  width: 100%;
  padding: 5px;
}

.blog-vid{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}


h1{
  font-family: Teimer;
  font-weight: 500;
  margin: 20px 0 10px;
  font-size: 45px;
  color: #aa5342;
  padding: 5px;
}

.page-blog h2{
  font-family: Teimer;
  margin: 15px 0;
  font-size: 30px;
  color: #aa5342;
  padding: 5px;
}

.page-blog h3{
  font-family: Teimer;
  margin: 15px 0;
  font-size: 20px;
  color: #aa5342;
  padding: 5px;
}

.page-blog h4{
  font-family: Teimer;
  margin: 15px 0;
  font-size: 15px;
  color: #aa5342;
  padding: 5px;
}

p{
  font-family: LiberationSans;
  /*padding: 20px 0;*/
  color: #aa5342;
  overflow: hidden;
  font-size: 18px;
  padding: 5px;
}

li{
  font-family: LiberationSans;
  color: #aa5342;
  font-size: 15px;
  padding: 5px;
}

figcaption{
  font-family: LiberationSans;
  padding: 5px;
  color: #aa5342;
  overflow: hidden;
  font-size: 12px;
}

.doubleimg {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tripleimg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.blog-buttons{
  width: 100%;
  height: 100px;
  position: relative;
}

.icon-header h3{
  margin: 5px;
  padding: 15px;
}

.icon-header img{
  width: 50px;
  float: left;
}

.centerbutton {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button{
  padding: 10px 50px;
  border: none;
  background-color: #f3c4b8;
  color: #aa5342;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: LiberationSans;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
}

button:hover{
  background-color: #aa5342;
  color: #f3c4b8;
}

.article-box__img button{
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.food-button{
  background-color: #c1e0da;
  color: #437364;
}
.fun-button{
  background-color: #f3c4b8;
  color: #aa5342;
}
.travel-button{
  background-color: #feeecd;
  color: #e3aa2d;
}

.food-button:hover{
  background-color: #437364;
  color: #c1e0da;
}
.fun-button:hover{
  background-color: #aa5342;
  color: #f3c4b8;
}
.travel-button:hover{
  background-color: #e3aa2d;
  color: #feeecd;
}

.footer{
  margin-bottom: 15px;
}


/*.page-footer {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 1fr 2fr;
      grid-template-columns: 3fr 1fr 1fr 2fr;
  grid-gap: 15px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  margin: 50px;
  padding: 20px 0;
}

@media (max-width: 940px) {
  .page-footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 675px) {
  .page-footer {
    grid-column: 1 / -1;
    padding: 0 15px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.page-footer .logo,
.page-footer h4 {
  display: block;
  font-weight: 600;
  color: #888;
  margin: 0 0 20px;
  padding: 0;
  font-size: 15px;
}

.page-footer p {
  font-size: 13px;
  line-height: 1.5;
  color: #888;
  margin: 0;
  padding: 0;
}

.page-footer a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  padding: 3px 0;
  margin-bottom: 5px;
  color: #888;
}*/